/* Add your CSS to this file */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 18px;
	display: grid;

	margin: 0;
}

img {
	width: 200px;
	height: auto;
	margin: 10px;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}
header .container {
	background-color: white;
	font-size: 18px;
	padding: 15px;
	display: flex;
    grid-row: 1;
    justify-content: space-between;
}
header .container ul {
	list-style: none;
    overflow: hidden;
    padding-top: 20px;
}

header .container li {
    display: inline;
    margin: 5px;
} 
header .container li a{
        color: #6b7280;
        text-decoration: none;
}
header .container li a:hover {
	color: #5a67d8;
}
.overview-hero {
	background-color: #e2e8f0;
    grid-row: 2;
    margin-bottom: 10px;
}
.overview-hero .container {
	display: flex;
}
.overview-hero .container .overview-hero-image {
	border-radius: 25%;
}
.learn-about .container .cards {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: max-content;
	grid-gap: 20px;
}
.learn-about .container h2 {
	font-size: 24px;
	color: #48bb78;
	grid-row: 3;
}
.learn-about .container .card {
	border-color: #e2e8f0;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px;
	display: inline;
	margin: 10px;
	padding: 10px;
}
.learn-about .container .card h3 {
	color: #48bb78;
	font-size: 21px;
}

.testing {
	background-color: #4a5568;
	color: white;
	grid-row: 4;
	padding: 10px;
	padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
	
	
}
.testing .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.testing .container .texting-description{
    text-align: left;
}
.testing .container .btn {
    display: flex;
	background-color: #48bb78;
	border-radius: 5px;
	float: right;
	grid-column: 2;
    text-decoration: none;
    text-align: center;
    margin-left:20px;
    margin-top: 50px;
    padding: 5px;
    width:100px;
    
}

.stories .container {
	display: grid;
	grid-row: 5;
    padding: 100px;
    grid gap: 10px;
}
.stories .container article {
	display: flex;
}
.stories .container h1 {
	color: #5a67d8;
}

.stories .container a {
	color: #5a67d8;
	display: inline;
	text-decoration: none;
}

.stories .container img {
	height: 210px;
    border-radius: 50%;
    padding: 15px;
}

.newsletter {
	background-color: #48bb78;
	color: white;
	grid-row: 6;
    padding: 50px;
    text-align: center;
      
}

.newsletter .container form {
	justify-content: center;
	display: flex;
}
.newsletter .container form input{
    width: 300px;
    height: 40px;
    border-radius: 5px;

}
.newsletter .container .btn {
	background-color: #5a67d8;
    margin-left: 10px;
    padding: 15px;
}

footer {
	background-color: #4a5568;
	color: white;
	grid-row: 7;
}
